.users-main {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.users-table-container {
    margin: 1rem 2.5rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: transparent;
    border-bottom: 1px solid #e4e4e7;
    margin: 1rem 2.5rem;
}

.users-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.user-info {
    display: flex;
    align-items: center;
}

.table-profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.no-users-message {
    text-align: center;
    color: #9ca3af;
    padding: 2rem;
}