@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark:root {
  --background: #111827;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.form-layout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
}
