.my-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(59, 59, 59);
  color: #fafafa;
  border-right: 1px solid #27272a;
  transition: all 0.3s ease-in-out;
}

.my-sidebar.minimized {
  width: 5rem;
}

.my-sidebar.maximized {
  width: 16rem;
}

.my-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 4rem;
  border-bottom: 1px solid #27272a;
}

.my-sidebar-logo-container {
  display: flex;
  align-items: center;
}

.my-sidebar-logo {
  height: 2rem;
  width: auto;
}

.my-sidebar-toggle-button {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: transparent;
}
.my-sidebar-toggle-button:hover {
  background-color: #27272a;
}

.my-sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fafafa;
}

.my-sidebar-nav {
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem;
}

.my-sidebar-nav-item {
  margin-bottom: 0.5rem;
}

.my-sidebar-nav-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.my-sidebar-nav-link:hover {
  background-color: #27272a;
}

.my-sidebar-nav-link.active {
  background-color: #18181b;
}

.my-sidebar-nav-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.my-sidebar-sub-nav {
  margin-top: 0.5rem;
  margin-left: 2.25rem;
  list-style: none;
  padding-left: 0;
}

.my-sidebar-sub-nav-item {
  margin-bottom: 0.25rem;
}

.my-sidebar-sub-nav-link {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.my-sidebar-sub-nav-link:hover {
  background-color: #27272a;
}

.my-sidebar-sub-nav-link.active {
  background-color: #18181b;
  font-weight: 600;
}

.my-sidebar-footer {
  padding: 1rem;
  border-top: 1px solid #27272a;
}

.my-sidebar-logout-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.my-sidebar-logout-link:hover {
  background-color: #27272a;
}

.my-sidebar-logout-icon {
  width: 1.5rem;
  height: 1.5rem;
}